.appointment-list-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    width: 75vw;
    background-color: #f5f5f7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    /* Or any color that matches your design */
}

.appointment-title {
    color: #333;
    background-color: white;
}

.right-panel {
    width: 100%;
    height: 40vw;
}

.appointments-table-container {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    height: 75%;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.appointments-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    font-size: 0.8em;
    color: #4F4F4F;
}

.appointments-table thead {
    background-color: #f0f0f0;
}

.appointments-table th,
.appointments-table td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.appointments-table tr:last-child td {
    border-bottom: none;
}

/* Remove the bottom border from the headers if needed */
.appointments-table thead th {
    border-bottom: none;
}

/* Styling for the status tags */
.status {
    display: inline-block;
    padding: 5px 10px;
    width: 80px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

.status.confirmed {
    background-color: #eefef3; /* Green */
    color: #1b813d;
}

.status.cancelled, .status.pending {
    background-color: #fdf3f3; /* Red */
    color: #dd3b3f;
}

.status.completed {
    background-color: #f7f3fd; /* Red */
    color: #8759d3;
}
